n8n-workflows/signal-generator.json
{
  "name": "RSI Signal Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "minutesInterval": 1}]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1h&limit=20",
        "options": {}
      },
      "id": "fetch-klines",
      "name": "Fetch BTC 1H KLINES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const klines = $input.all();\nconst closes = klines.map(k => parseFloat(k.json[4]));\n\nfunction calcRSI(prices, period = 14) {\n  if (prices.length < period + 1) return 50;\n  let gains = 0, losses = 0;\n  for (let i = prices.length - period; i < prices.length; i++) {\n    const diff = prices[i] - prices[i - 1];\n    if (diff > 0) gains += diff;\n    else losses -= diff;\n  }\n  const avgGain = gains / period;\n  const avgLoss = losses / period;\n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - 100 / (1 + rs);\n}\n\nconst rsi = calcRSI(closes);\nconst lastPrice = closes[closes.length - 1];\nlet signal = 'HOLD';\nif (rsi < 30) signal = 'BUY';\nif (rsi > 70) signal = 'SELL';\n\nreturn [{\n  pair: 'BTCUSDT',\n  price: lastPrice,\n  rsi: Math.round(rsi * 100) / 100,\n  signal,\n  timestamp: new Date().toISOString(),\n  indicator: 'RSI(14)'\n}];"
      },
      "id": "calc-rsi",
      "name": "Calculate RSI Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "collection": "signals",
        "fields": {
          "values": {
            "string": [
              {"key": "pair", "value": "={{$json[\"pair\"]}}"},
              {"key": "price", "value": "={{$json[\"price\"]}}"},
              {"key": "rsi", "value": "={{$json[\"rsi\"]}}"},
              {"key": "signal", "value": "={{$json[\"signal\"]}}"},
              {"key": "indicator", "value": "={{$json[\"indicator\"]}}"},
              {"key": "generated_at", "value": "={{$json[\"timestamp\"]}}"}
            ]
          }
        }
      },
      "id": "save-signal",
      "name": "Save Signal to MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Every 1 Hour": {
      "main": [[{ "node": "Fetch BTC 1H KLINES", "type": "main", "index": 0 }]]
    },
    "Fetch BTC 1H KLINES": {
      "main": [[{ "node": "Calculate RSI Signal", "type": "main", "index": 0 }]]
    },
    "Calculate RSI Signal": {
      "main": [[{ "node": "Save Signal to MongoDB", "type": "main", "index": 0 }]]
    }
  }
}
